# CMake builds
build/
out/
cmake-build-*/
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile

# Dependencies
_deps/
geometric-factory/build/
geometric-factory/out/

# Executables
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Object files
*.o
*.obj

# IDE
.vs/
.vscode/
*.sln
*.vcxproj*
*.user
*.suo

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log